@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-webato-primary: #0F172A;
  --color-webato-secondary: #2563EB;
  --color-webato-accent: #22D3EE;
  --color-webato-light: #F8FAFC;
  --color-webato-muted: #94A3B8;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}
